
.DS_Store
.DS_Store
research/.DS_Store
adopse-events/Event-software/Db_connector.cs
Event-software/.vs/events-software/v16/Server/sqlite3/storage.ide-wal
Event-software/.vs/events-software/v16/Server/sqlite3/storage.ide-shm
Event-software/.vs/events-software/v16/.suo
Event-software/.vs/events-software/v16/.suo
Event-software/bin/Debug/itHappens.exe
Event-software/bin/Debug/itHappens.pdb
Event-software/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Event-software/obj/Debug/itHappens.csproj.FileListAbsolute.txt
Event-software/obj/Debug/itHappens.csproj.GenerateResource.cache
Event-software/obj/Debug/itHappens.csprojAssemblyReference.cache
Event-software/obj/Debug/itHappens.exe
Event-software/obj/Debug/itHappens.pdb
Event-software/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Event-software/obj/Debug/itHappens.csproj.FileListAbsolute.txt
Event-software/obj/Debug/itHappens.csproj.GenerateResource.cache
Event-software/obj/Debug/itHappens.csprojAssemblyReference.cache
Event-software/obj/Debug/itHappens.exe
Event-software/obj/Debug/itHappens.pdb
Event-software/.vs/events-software/v16/Server/sqlite3/storage.ide
Event-software/.vs/events-software/v16/Server/sqlite3/storage.ide-shm
Event-software/.vs/events-software/v16/Server/sqlite3/storage.ide-wal
